body {
     background-image: url("xheader.jpg");
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     
     
}


    

.title{
    color: red;
    text-align: center;
    margin-right: 58px ;
    text-decoration: underline;
    font-size: 100px;
}

.inknut-antiqua-regular {
    font-family: "Inknut Antiqua", serif;
    font-weight: 300px;
    font-style: normal;
}

.nav-list{
    display: flex;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-right: 100px;
}
